html,
* {
	box-sizing: border-box;
}

.app {
	position: fixed;
	inset: 0px;
}

.canvas-container {
	position: absolute;
	inset: 0px;
}

canvas {
	position: absolute;
	inset: 0px;
	transform-origin: top left;
}
